{% extends 'voting/base.html' %}

{% block content %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background: #f4ada4; min-height: 80px;">
  <div class="container">
    <a class="navbar-brand" href="#" style="float: none; margin: 0 auto;">Most Voted Pig (MVP)</a>
  </div>

  <div class="container" >
    <img id="winning-image" class="img-fluid img-thumbnail" src="{{ winning.image_url }}" height="100px" width="100px" alt="" align="center" style="float: none; margin: 0 auto;">
  </div>
  <div class="container">
    <h5 id="winning-name" style="float: none; margin: 0 auto;">{{ winning.user.get_full_name }}</h5>
  </div>
</nav>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<!-- Page Content -->
<div class="container">
	<!-- some iterative logic -->
  <div class="row text-center text-lg-left">
    
    {% for profile in profiles %}
      <div class="col-lg-3 col-md-4 col-xs-6">
        <img class="img-fluid img-thumbnail" src="{{ profile.image_url }}" alt="" style="height: 300px;">
        <p class="mb-2">{{ profile.user.get_full_name }}</p>
        <button type="button" class="js-clap btn mb-3" data-id="{{ profile.id }}"><img src="/images/clap.png" /></button>
      </div>
    {% endfor %}

  </div>

</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
  
  $('.js-clap').on('click', function(e) {
    e.preventDefault();
    let btn = $(this);
    let url = '/clap/' + btn.data('id');
    $.ajax({
      type: 'GET',
      url: url
    }).done((response) => {
      console.log(response);
    });
  });

  let winningName = $('#winning-name');
  let winningImage = $('#winning-image');
  setInterval(function() {
      $.ajax({
        url: '/get-winning/',
        success: function(data) {
          winningName.text(data.name);
          winningImage.attr('src', data.image_url);
        },
        dataType: "json"
      });
  }, 3000);

</script>
{% endblock %}