{% extends 'voting/base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background: #f4ada4;">
  <div class="container">
    <a class="navbar-brand" href="#">Most Voted Pig (MVP)</a>
  </div>
</nav>
<br />
<br />
<br />

<!-- Page Content -->
<div class="container">
	<!-- some iterative logic -->
  <div class="row text-center text-lg-left">
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-2 h-60">
        <img class="img-fluid img-thumbnail mb-2" src="static/voting/pig.jpg" alt="">
      </a>
      <p class="mb-2">Congratulations, [name]! <br />You are the winner!</p>
    </div>
  </div>
</div>
{% endblock %}